.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 72px;
}

.navigation ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-weight: 600;
}

.navigation li {
    cursor: pointer;
}